h3 {
  border: 1px solid;
}

.big-text {
  font-size: 75px;
  padding: 20px 30px;
  border-width: 10px;
}

.comic-font {
  font-family: "Comic Sans MS", cursive;
}

.rainbow-colored {
  background-color: darksalmon;
  border-color: chartreuse;
  color: rebeccapurple;
}
